commands:
  01_remove_vendor_if_exists:
    command: "[ -d /var/app/staging/vendor ] && rm -rf /var/app/staging/vendor || echo 'No vendor folder found'"
    ignoreErrors: true

container_commands:
  01_composer_install:
    command: "cd /var/app/staging && composer install --no-dev --prefer-dist --optimize-autoloader --no-interaction"
    leader_only: true
  02_storage_permissions:
    command: |
      mkdir -p /var/app/staging/storage/logs
      mkdir -p /var/app/staging/bootstrap/cache
      chmod -R 775 /var/app/staging/storage
      chmod -R 775 /var/app/staging/bootstrap/cache
      chown -R webapp:webapp /var/app/staging/storage
      chown -R webapp:webapp /var/app/staging/bootstrap/cache
    ignoreErrors: true
  03_artisan_optimize:
    command: "cd /var/app/staging && php artisan optimize"
    ignoreErrors: true